@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Welcome to SnoreLax!</h1>

<p>SnoreLax is a web application designed to help you track and analyze your sleep patterns.</p>
<p>As well as allow you to listen to your sleep recordings where you talk (which in most cases can be quite funny).</p>
